# Python
__pycache__/
*.pyc
.venv/
bot/.env

# Node
node_modules/
dist/
frontend/.env
functions/.env

# Firebase
.firebase/

# IDE
.vscode/
.idea/

# Environment
.env
*.local
serviceAccountKey.json
lavalink/tokens.json
